name: Deploy PartyKit

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            party:
              - 'apps/messages/**'
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install
        if: steps.filter.outputs.party == 'true'
      - run: bun run deploy --filter=messages
        if: steps.filter.outputs.party == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.PARTYKIT_GITHUB_TOKEN }}
          GITHUB_LOGIN: ${{ secrets.PARTYKIT_GITHUB_LOGIN }}
